[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

WorkingDirectory=/home/appuser/reddit

ExecStart=/usr/local/bin/pumactl start &

[Install]
WantedBy=multi-user.target
